body{
  background: skyblue;
  background-image: url("book.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  font-size-adjust: 1000px;
  text-align: center;
  border-radius: auto;
  position: center;
  height: 50px;
}
input{
  padding: 20px;
  text-align: center;
  text-emphasis-position: center;
  background: pink;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-left: 5;
  border: 500px;
  border-radius: 30px;
  height: 50px;
  
}
.reg{
  padding: 10px;
  hight: 30px;
  text-align-last: center;
  color: green;
  width: 100px;
  text-align: center;
  margin: auto;
  
  
  
}
button{
  text-decoration-color: green;
}

.can2{
  padding: 10px;
  background-color: white;
  color: green;
  
  
}
h3{
  color: blue;
}
.link{
  color: green;
}

